body{
background:#1a001a;
color:white;
text-align:center;
font-family:Arial;
}

header{
color:#ff69b4;
padding:20px;
}

.container{
position:relative;
display:inline-block;
}

video{
width:600px;
border-radius:12px;
box-shadow:0 0 20px #ff1493;
}

canvas{
position:absolute;
top:0;
left:0;
}