body {
  margin: 0;
  font-family: Arial;
  text-align: center;
  color: white;
  background: linear-gradient(135deg, #0f2027, #203a43);
}

.card {
  margin-top: 120px;
}

button {
  padding: 10px 15px;
  margin: 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #00c6ff;
  color: black;
}